body{
  color:#000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  margin: 8px;
}
/* Menu Box*/

.top-box{
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  margin: 0 auto;
  background: #033048;
  background-size: cover;
  text-align: center;
  margin-width: 960px;
}
.logo{
  font-size: 48px;
  font-weight 800;
}
.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
header{
  background: url("https://cdn.shutterstock.com/shutterstock/videos/10684853/thumb/1.jpg");
  background-size: cover;
  padding: 25px 0;
  overflow: hidden;
}
header .logo{
  color: #fff;
  float: center;
}
header div.menu{
  float: center;
  margin-top: 100px;
}
header div.menu ul li{
  display: inline-block;
  margin: 0 0 0 80px;
  font-size: 24px;
  padding: 45px 70px;
  border: 1px;
  color: #fff;
}
header div.menu ul li a{
  color: #f9e42e;
}
/* End of the menu */

/* Body content*/
body{
  color:#f0efef;
  font-size: 26px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  font-weight: 300;
  color: #606161;
}
#post{
  width: 700px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  vertical-align: top;
}
.post{
  border-bottom: 1px solid #043049;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
h2{
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
.post h2 a{
  color: #043049;
  margin-right: 50px;
}
.post h2{
  width: 700px;
}
.post h3{
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 30px;
  width: 700px;
}
h3{
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
.post img{
  font-size: 24px;
  line-height: 1.333;
  color: #606161;
  width: 700px;
  height: 400px;
}
.post p{
  font-size: 24px;
  line-height: 1.333;
  color: #606161;
  margin-right: 200px;
}
.post p:first-of-type:first-letter{
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}
.readmore{
  text-align: right;
  margin-top: 30px;
}
.readmore a{
  color: #043049;
  font-weight: 600;
}


/* sidebar section*/
#sidebar{
  width: 50px;
  display: inline-block;
  vertical-align: top;
  float: right;
  height: 75px;
  margin: 10px;
}
#sidebar h4{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #043049;
}

#sidebar ul{
  margin-bottom: 150px;
  list-style-type: none;
  text-decoration: none;
}
#sidebar ul li a{
  color: #043049;
  font-size: 24px;
}
#sidebar p a {
  color: #043049;
  font-weight: 600;
}
.side-information{
  text-decoration: none;
  font-size: 18px;
}
.side-information2{

}
/*sign up section*/

.sign-up-section{
  background: #f9e42e;
  padding: 20px 0px 20px 0px;
}
.w-containter {
  padding: 0px 10% 0px 10%;
  background: #033048;
}
.button{
  background: #033048;
  color: #fff;
}
.secondary-button{
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
  background: #033048;
  color: #fff;
}
.center {
  margin: 0 auto;
  display: block;
}

/*footer section*/

.footer-section {
  background: #121212;
  color: #fff;
  padding: 40px 0px 40px 0px;
  margin: 0 auto;
  text-align: center;
}
.footer-social-media {
  list-style-type: none;
  padding: 40px 0px 40px 0px;
}
.footer-social-media li {
  padding: 0px 20px 0px 20px;
}
.footer-copyright {
  display: block;
  font-size: 9pt;
  font-weight: 600;
  color: #606161;
} 
.yellow-text {
  color: #f9e42e;
}
.relaxr-logo-text {
  list-style-type: none;
  font-weight: 800;
  font-size: 24pt;
}
.footer-section {
  background: #121212;
  color: #fff;
  padding: 40px 0px 40px 0px;
  margin: 0 auto;
  text-align: center;
}

.footer-social-media {
  list-style-type: none;
  padding: 40px 0px 40px 0px;
}

.footer-social-media li {
  padding: 0px 20px 0px 20px;
}

.footer-copyright {
  display: block;
  font-size: 9pt;
  font-weight: 600;
  color: #606161;
} 